<?php

require_once("system/Telegram.php");
require_once("system/Database.php");
require_once("system/Methods.php");

const _BOT_TOKEN = "";
const _APT_TOKEN = "";

global $config;
$config['host'] = "localhost";
$config['user'] = "";
$config['pass'] = "";
$config['name'] = "";
